body {
  background-color: rgba(173, 35, 35, 0.808);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header {
  background-color: rgba(173, 35, 35, 0.9);
  border-radius: 10px;
}

#text,
#frases {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 30%;
  width: 40%;
  cursor: pointer;
  background-color: rgba(173, 35, 35, 0.9);
  border-radius: 10px;
  margin-top: 10rem;
}

.hide {
  display: none;
}

button {
  background: none;
  border: none;
  font-size: 1.2rem;
  padding: 1rem;
  margin-right: 1rem;
  color: #333;
  font-weight: bold;
  transition: 0.8s;
}

button:hover {
  color: #000;
  scale: 1.1;
}

.img1 {
  background-image: url(../img/coração\ 1.png);
}
.img2 {
  background-image: url(../img/coração\ 2.png);
}
.img3 {
  background-image: url(../img/coração\ 3.png);
}
.img4 {
  background-image: url(../img/coração\ 4.png);
}
.img5 {
  background-image: url(../img/coração\ 5.png);
}
.img6 {
  background-image: url(../img/coração\ 6.png);
}

footer {
  margin-top: 1000rem;
  border-radius: 10px;
  background-color: rgba(173, 35, 35);
  width: 100%;
  height: 100px;
}

video {
  width: 400px;
}
